.areaButton {

  &.btnDoigtsB {
    transform: rotate(15deg);
  }

  &.btnCroissant {
    transform: rotate(15deg);
  }

  &.btnPaume {
    transform: rotate(15deg);
  }

  &.btnVenus {
    transform: rotate(59deg);
  }
}